.place__image {
    width: 100%;
    max-width: 460px;
    height: 460px;
    grid-area: image;
}

/* для экранов 1024px */
@media screen and (max-width: 1279px) {
    .place__image {
        max-width: 440px;
        height: 440px;
    } 
}

/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .place__image {
        max-width: 340px;
        height: 340px;
    }
}