.cover__subtitle {
    margin: 0 auto;
    padding-top: 32px;
    width: calc(100% - 412px*2);
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        width: calc(100% - 332px*2);
    }
    
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        width: calc(100% - 204px*2);
    }
    
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: calc(100% - 16px*2);
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
    }

    
}