.photo-grid__item {
    width: 100%;
    max-width: 284px;
    min-height: 213px;
    object-fit: cover;
}
/* для экранов 1024px */
@media screen and (max-width: 1279px) {
    .photo-grid__item {
        max-width: 300px;
        min-height: 225px;
    }
    
}

/* для экранов 768 px */
@media screen and (max-width: 1023px) {
    .photo-grid__item {
        max-width: 352px;
        min-height: 264px;
    }
}

/* для экранов 320px */
@media screen and (max-width: 767px) {
    .photo-grid__item {
        max-width: 288px;
        min-height: 216px;
    }  
}