.header {
    width: 100%;
    max-width: 1184px;
    min-height: 52px;
    margin: 28px 48px 0;
    display: flex;
    justify-content: space-between;
}

/* для экрана 1024px */
@media screen and (max-width: 1279px) {
    .header {
         max-width: 928px;
    }
}

/* для экрана 768px */
@media  screen and (max-width: 1023px) {
    .header {
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
    }    
}

/*для экрана 320px */
@media screen and (max-width: 768px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 48px 16px;
    }  
}