.place__website_link {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__website_link:hover {
    transition: color 1s ease 0.5s;
    opacity: 0.8;
  }
