.lead__title {
    padding: 0;
    width: calc(100% - 132px*2);
    margin: auto;
    height: auto;
    padding-bottom: 32px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    /*align-self: center; */
}

/* для экранов 1024px*/
@media screen and (max-width: 1279px ) {
    .lead__title {
        width: calc(100% - 104px*2);
    } 
}

/* для экранов 768px*/
@media screen and (max-width: 1023px) {
    .lead__title {
        width: calc(100% - 24px*2);
    }
}

/* для экранов 320px*/
@media screen and (max-width: 767px) {
    .lead__title {
        width: calc(100% - 16px*2);
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 16px;
    }
}