.place__paragraph-list {
    padding: 0;
    grid-area: text;
    width: 100%;
    max-width: 484px;
    display: grid;
    grid-template-rows: min-content;
    gap: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
}

/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .place__paragraph-list {
        max-width: 352px;
        font-size: 16px;
        line-height: 26.08px;
        gap: 25px;
    }  
}

/* для экранов 320px */
@media screen and (max-width: 767px) {
    .place__paragraph-list {
        max-width: 288px;
        margin-left: 16px;
    } 
}