.intro__text {
    margin: 40px 0 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    width: 100%;
    max-width: 690px;
    height: auto;
    min-height: 208px;
}

/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    } 
}

/* для экранов 320px */
@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 288px;
        min-height: 520px;
        margin-bottom: 34px;
    }
}