.intro {
    /* margin: 92px auto 92px 148px; */
    width: calc(690*100%/1280);
    height: auto;
    padding-left: 148px;
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    
}

/* для экранов 1024px */
@media screen and (max-width: 1279px) {
    .intro {
        width: calc(690*100%/1024);
        padding-left: 48px;
    }
    
}
/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .intro { 
        width: calc(720*100%/768);
        padding: 88px 24px;
    }
}
/* для экранов 320px */
@media screen and (max-width: 767px) {
    .intro {
        width: calc(288*100%/320);
        padding: 64px 16px;
    }
}