.intro {
    margin: 92px auto 92px 148px;
    width: 100%;
    max-width: 690px;
    height: auto;
    min-height: 429px;
    display: flex;
    flex-direction: column;
}
/* для экранов 1024px */
@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
    
}
/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .intro { 
        max-width: 720px;
        margin: 88px 24px;
    }
}
/* для экранов 320px */
@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        min-height: 754px;
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
}