.cover {
    width: calc(100% - 48px*2);
    margin: auto;
    min-height: 740px;
}

/* для экранов 1024px */
@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
    }
    
}