.cover {
    margin: 0 48px 92px;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        margin-left: 0;
        margin-right: 0;
    }
    
}