.place {
    list-style: none;
    display: grid;  
   grid-template-columns:  minmax(1fr, max-content)  minmax(min-content, max-content);
    grid-gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image text";
}

/* для экранов 1024px */
@media screen and (max-width: 1279px) {
    .place {
        grid-gap: 48px 32px;
    }   
}

/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .place {
        grid-gap: 48px 28px;
    } 
}

/* для экранов 320px */
@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(1fr, max-content );
        grid-gap: 32px;
        grid-template-areas:
        "title" 
        "website"
        "image" 
        "text";   
    }
}