.place {
    width: 984px;
    height: 660px;
    list-style: none;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    display: grid;
   grid-template-columns:  minmax(1fr, max-content)  minmax(min-content, max-content);
/*  grid-template-columns: 440px 1fr; */
    grid-gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image text";
}