.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    width: calc(100% - 48px*2);
    height: auto;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

/* для экранов 768px */
@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 24px*2);
    }
    
}

/* для экранов 320px */
@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        width: calc(100% - 118px);
        min-height: 310px;
        flex-direction: column;
        padding-left: 16px;
    }
    
}